.custom-scrollbar-hide::-webkit-scrollbar {
    display: none; /* For Webkit browsers */
  }
  
  .custom-scrollbar-hide {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
  }